* {
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #0F2F33;
}

body,
html {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

.form {
  position: relative;
  width: 490px;
}
.form .form_input {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .form_input span {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}
.form .form_input input {
  text-align: right;
  border: none;
  background: rgba(255, 255, 255, 0);
  flex: 1;
  font-size: 16px;
}
.form .form_input .error {
  position: absolute;
  left: 10%;
  bottom: -60%;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px 5px 30px;
  z-index: 1;
  opacity: 0;
  transition: all ease 0.3s;
}
.form .form_input .error.active {
  opacity: 1;
}
.form .form_input .error::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #fff transparent;
  top: -30%;
}
.form .form_input .error::after {
  position: absolute;
  content: "";
  background-image: url(../Image/error.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: block;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}
.form .form_input.textarea {
  align-items: flex-start;
  flex-direction: column;
}
.form .form_input.textarea span {
  margin-bottom: 20px;
}
.form .form_input.textarea textarea {
  width: 100%;
  resize: none;
  background: rgba(255, 255, 255, 0);
  border: none;
}
.form .btn {
  cursor: pointer;
  position: relative;
  width: 100%;
  color: #fff;
  background-color: #000;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  padding: 15px 0;
  transition: all ease 0.3s;
}
.form .btn:hover {
  background-color: #274043;
}

.popup {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.popup .popup-background {
  background-color: rgba(9, 9, 9, 0.8);
  position: relative;
  width: 100%;
  height: 100%;
}
.popup .popup-body {
  text-align: center;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 30px;
  border-radius: 15px;
}
.popup .popup-body hr {
  width: 100%;
  background-color: #D9D9D9;
  border: none;
  height: 4px;
}
.popup .popup-body .cancel {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
}
.popup .popup-body button {
  background-color: #000;
  color: #fff;
  width: 55%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
}
.popup.popup-feedback .popup-body {
  padding: 20px 30px;
  width: 30%;
}
.popup.popup-feedback .popup-body .title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.popup.popup-feedback .popup-body .content {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.popup.popup-feedback .popup-body button {
  width: 70%;
}
.popup.popup-payment_method .popup-body {
  width: 53%;
}
.popup.popup-payment_method .popup-body .title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.popup.popup-payment_method .popup-body .donate_money {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.popup.popup-payment_method .popup-body .donate_money p {
  font-size: 30px;
  font-weight: 700;
}
.popup.popup-payment_method .popup-body .donate_money p span {
  font-size: 60px;
}
.popup.popup-payment_method .popup-body hr {
  margin-bottom: 50px;
}
.popup.popup-payment_method .popup-body .payway_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.popup.popup-payment_method .popup-body .payway_items .item {
  position: relative;
  cursor: pointer;
  width: 30%;
  height: 90px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 25px;
  font-weight: 400;
}
.popup.popup-payment_method .popup-body .payway_items .item.active {
  border: 2px solid #6F7B20;
}
.popup.popup-payment_method .popup-body .payway_items .item.active::before {
  content: "";
  background-image: url(../Image/tick.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 33px;
  padding-top: 9.5%;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.popup.popup-sponsor_success .popup-body {
  width: 43%;
}
.popup.popup-sponsor_success .popup-body .title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.popup.popup-sponsor_success .popup-body .content {
  font-size: 18px;
  font-weight: 400;
}
.popup.popup-sponsor_success .popup-body .donate_money {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.popup.popup-sponsor_success .popup-body .donate_money p {
  font-size: 30px;
  font-weight: 700;
}
.popup.popup-sponsor_success .popup-body .donate_money p span {
  font-size: 60px;
}
.popup.popup-sponsor_success .popup-body hr {
  margin-bottom: 50px;
}
.popup.popup-sponsor_success .popup-body button {
  width: 70%;
}

header {
  padding: 10px 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #fff;
  width: 100%;
}
header img {
  width: 20%;
  max-width: 230px;
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav p {
  margin-right: 50px;
  transition: all ease 0.3s;
  font-size: 18px;
  font-weight: 400;
}
header nav p:last-child {
  margin: 0;
}
header nav p:hover {
  cursor: pointer;
  color: #6F7B20;
}
header nav p.active {
  color: #6F7B20;
}
header .menu_open_btn {
  display: none;
}

.menu {
  display: none;
}

.home_page {
  margin-top: 80px;
}
.home_page .banner {
  background-image: linear-gradient(180deg, #E1E0D4 0%, #FCFCFC 100%);
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.home_page .banner .title {
  position: absolute;
  top: 50px;
  left: 14%;
}
.home_page .banner .title img {
  position: relative;
  display: block;
}
.home_page .banner .title img:nth-child(1) {
  right: -23%;
}
.home_page .banner .man {
  z-index: 1;
  width: 50%;
  margin-right: 2%;
}
.home_page .banner .policy_box {
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 105px;
  left: 63%;
  transition: all ease-out 0.5s;
  opacity: 0;
}
.home_page .banner .policy_box.active {
  opacity: 1;
  z-index: 2;
}
.home_page .banner .policy_box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 40px;
  border-style: solid;
  border-width: 0px 90px 40px 15px;
  border-color: transparent transparent #ffffff transparent;
  transform: rotate(120deg);
  top: 90px;
}
.home_page .banner .policy_box .policy {
  margin-right: 30px;
  z-index: 1;
}
.home_page .banner .policy_box button {
  background-color: #DAB071;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.3s;
}
.home_page .banner .policy_box button:hover {
  background-color: #E9CB9E;
}
.home_page .banner .policy_box button img {
  display: block;
}
.home_page .banner .subtitle {
  position: absolute;
  right: 8%;
  bottom: 110px;
}
.home_page .advocate {
  position: relative;
  background-image: url(../Image/wave/home/middle_wave.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 21.51%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  z-index: 1;
}
.home_page .advocate .wave {
  position: absolute;
  background-position: top;
  background-size: cover;
  padding-bottom: 8.85%;
  background-repeat: no-repeat;
}
.home_page .advocate .above_wave {
  top: -40%;
  width: 100%;
  background-image: url(../Image/wave/home/above_wave.svg);
}
.home_page .advocate .above_wave_shadow {
  top: -55%;
  width: 100%;
  background-image: url(../Image/wave/home/above_wave_shadow.svg);
}
.home_page .advocate .under_wave {
  background-image: url(../Image/wave/home/under_wave.svg);
  bottom: -40%;
  width: 100%;
}
.home_page .advocate .box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 50%;
  transform: translateY(-75%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19%;
}
.home_page .advocate .box .content {
  margin-left: 60px;
}
.home_page .advocate .box .content p {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
}
.home_page .advocate .box .content p:first-child {
  font-size: 24px;
  font-weight: 700;
}
.home_page .events {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 0px 15% 0 22%;
  margin-bottom: 70px;
}
.home_page .events .more_event {
  position: absolute;
  width: 205px;
  height: 50px;
  background-color: #6F7B20;
  border: none;
  color: #fff;
  right: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 35px;
  top: -6%;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 50px 0 0 50px;
}
.home_page .events .more_event:hover {
  background-color: #9DA859;
}
.home_page .events .more_event p {
  z-index: 1;
  font-size: 24px;
  font-weight: 700;
}
.home_page .events .cat_jump_box {
  position: relative;
}
.home_page .events .cat_jump_box p {
  position: absolute;
  background-color: #051A1D;
  height: 75px;
  width: 450px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-25%, -100%);
}
.home_page .events .cat_jump_box p::before {
  content: "";
  height: 40px;
  width: 100%;
  background-color: #0F2F33;
  border-radius: 50px 50px 0 0;
  position: absolute;
  top: -50%;
}
.home_page .events .cat_jump_box .pillar {
  position: relative;
  height: 100%;
  width: 66px;
  background-image: linear-gradient(180deg, #DAB071 0%, rgba(202, 178, 49, 0) 100%);
}
.home_page .events .cat_jump_box .pillar::before {
  content: "";
  background: url("../Image/cat_scratch.svg");
  width: 100%;
  height: 100%;
  position: absolute;
}
.home_page .events .event_list {
  margin-top: 30px;
  margin-left: 70px;
}
.home_page .events .event_list .event {
  position: relative;
  background-color: #F2EEE5;
  border-bottom: 5px solid #CABD9E;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 8%;
  margin-top: 20px;
}
.home_page .events .event_list .event:first-child {
  margin-top: 0;
}
.home_page .events .event_list .event:nth-child(even) {
  margin-left: 110px;
}
.home_page .events .event_list .event:nth-child(even) .line {
  width: 145px;
  left: -180px;
}
.home_page .events .event_list .event .line {
  position: absolute;
  height: 1px;
  width: 40px;
  background-color: #000;
  left: -70px;
}
.home_page .events .event_list .event img {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  margin-right: 50px;
}
.home_page .events .event_list .event .content_box .date {
  color: #6F7B20;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}
.home_page .events .event_list .event .content_box .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.home_page .events .event_list .event .content_box .content {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.home_page .policys > p {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_page .policys > p::before {
  position: absolute;
  content: "";
  background-color: #D9D9D9;
  height: 4px;
  width: 40%;
  left: 0;
}
.home_page .policys > p::after {
  position: absolute;
  content: "";
  background-color: #D9D9D9;
  height: 4px;
  width: 40%;
  right: 0;
}
.home_page .policys .policy_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_page .policys .policy_list .policy {
  width: 420px;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #E4DD87;
  padding: 40px 30px;
  margin-right: 20px;
}
.home_page .policys .policy_list .policy:last-child {
  margin: 0;
}
.home_page .policys .policy_list .policy:nth-child(2) {
  background-color: #CDCF84;
}
.home_page .policys .policy_list .policy:nth-child(3) {
  background-color: #E9CB9E;
}
.home_page .policys .policy_list .policy > .title {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 60px;
}
.home_page .policys .policy_list .policy > .title :last-child {
  font-size: 30px;
}
.home_page .policys .policy_list .policy .item {
  margin-bottom: 20px;
}
.home_page .policys .policy_list .policy .item:last-child {
  margin: 0;
}
.home_page .policys .policy_list .policy .item .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.home_page .policys .policy_list .policy .item .title img {
  margin-right: 10px;
}
.home_page .policys .policy_list .policy .item .content {
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
}
.home_page .donate {
  padding: 0 7%;
  position: relative;
  width: 100%;
  height: 700px;
  display: block;
  overflow: hidden;
}
.home_page .donate > p {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.home_page .donate .feed {
  position: absolute;
  width: 100%;
}
.home_page .donate .box {
  position: absolute;
  background-color: rgba(111, 123, 32, 0.8);
  border-radius: 15px;
  padding: 40px 50px;
  text-align: center;
  top: 164px;
  right: 23%;
}
.home_page .donate .box p:nth-child(1) {
  color: #FAF292;
  font-size: 30px;
}
.home_page .donate .box p:nth-child(2) {
  color: #fff;
  font-size: 90px;
  margin-bottom: 30px;
}
.home_page .donate .box div {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.home_page .donate .box div:hover {
  background-color: #274043;
}
.home_page .donate .box div span {
  font-size: 24px;
}
.home_page .donate .box div img {
  margin-right: 10px;
}
.home_page .feedback {
  display: block;
  background-image: url("../Image/background_feedback.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 40px 20% 100px 20%;
}
.home_page .feedback .title {
  font-size: 40px;
  font-weight: 700;
}
.home_page .feedback .content {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 70px;
}

.donate_page {
  margin-top: 80px;
  background-image: linear-gradient(180deg, #E1E0D4 0%, #FCFCFC 100%);
}
.donate_page .section01 {
  padding: 0 7%;
  position: relative;
  width: 100%;
  height: 680px;
  display: block;
  overflow: hidden;
}
.donate_page .section01 > p {
  margin-top: 70px;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate_page .section01 img {
  position: absolute;
  top: 15%;
}
.donate_page .section01 .box {
  position: absolute;
  background-color: rgba(111, 123, 32, 0.8);
  border-radius: 15px;
  padding: 30px 55px;
  text-align: center;
  top: 180px;
  right: 22%;
}
.donate_page .section01 .box p:nth-child(1) {
  color: #FAF292;
  font-size: 30px;
}
.donate_page .section01 .box p:nth-child(2) {
  color: #fff;
  font-size: 90px;
}
.donate_page .section02 {
  position: relative;
  background-image: url(../Image/background_donate.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 62.86%;
  width: 100%;
}
.donate_page .section02 .wave {
  position: absolute;
  background-position: top;
  background-size: cover;
  padding-bottom: 8.85%;
  background-repeat: no-repeat;
}
.donate_page .section02 .above_wave {
  top: -13%;
  width: 100%;
  background-image: url("../Image/wave/donate/above_wave.svg");
}
.donate_page .section02 .above_wave_shadow {
  top: -13%;
  width: 100%;
  background-image: url("../Image/wave/donate/above_wave_shadow.svg");
}
.donate_page .section02 .box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.donate_page .section02 .box .donate_items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.donate_page .section02 .box .donate_items .item {
  cursor: pointer;
  position: relative;
  background-color: #FFFCD1;
  border-radius: 15px;
  margin-right: 15px;
  width: 420px;
  padding: 50px 0 20px 0;
  text-align: center;
}
.donate_page .section02 .box .donate_items .item:last-child {
  margin: 0;
}
.donate_page .section02 .box .donate_items .item.active {
  border: 7px solid #6F7B20;
}
.donate_page .section02 .box .donate_items .item img {
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
}
.donate_page .section02 .box .donate_items .item .item_name {
  font-size: 30px;
  font-weight: 700;
}
.donate_page .section02 .box .donate_items .item .item_money {
  font-size: 30px;
  font-weight: 700;
}
.donate_page .section02 .box .donate_items .item .item_money span {
  font-size: 60px;
}
.donate_page .section02 .box .donate_items .item .item_sponsor {
  font-size: 30px;
  font-weight: 400;
}
.donate_page .section02 .box .donate_items .item .item_sponsor span {
  color: #6F7B20;
}
.donate_page .section02 .box .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.donate_page .section02 .box .form .form_input {
  width: 40%;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin-bottom: 40px;
}
.donate_page .section02 .box .form .form_input.active input {
  border: 7px solid #6F7B20;
}
.donate_page .section02 .box .form .form_input input {
  text-align: left;
  background-color: #fff;
  width: 100%;
  padding: 20px 50px;
  border: none;
  border-radius: 6px;
  font-size: 30px;
  font-weight: 700;
}
.donate_page .section02 .box .form .btn {
  width: 30%;
}
.donate_page .section02 .box .form .btn img {
  margin-right: 10px;
}
.donate_page .section02 .box .precautions {
  padding-left: 20%;
}
.donate_page .section02 .box .precautions p {
  font-size: 30px;
  font-weight: 700;
}
.donate_page .section02 .box .precautions ul {
  padding-left: 20px;
}
.donate_page .section02 .box .precautions ul li {
  list-style-type: decimal;
  margin-bottom: 10px;
}
.donate_page .section02 .box .precautions ul li::marker {
  padding-right: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 100px 0 30px 0;
}
footer > div:first-child {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 70px;
}
footer > div:first-child img {
  margin-right: 200px;
  cursor: pointer;
}
footer > div:first-child nav {
  margin-right: 200px;
}
footer > div:first-child nav p {
  margin-bottom: 15px;
  transition: all ease 0.3s;
}
footer > div:first-child nav p:hover {
  cursor: pointer;
  color: #6F7B20;
}
footer > div:first-child nav p.active {
  color: #6F7B20;
}
footer > div:first-child .contact li {
  margin-bottom: 15px;
  list-style-type: disc;
}
footer .copyright {
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6980392157);
}

@media (max-width: 375px) {
  .form {
    width: 100%;
  }
  .form .form_input span {
    font-size: 13px;
  }
  .form .form_input input {
    font-size: 13px;
  }
  .form .form_input.textarea span {
    margin-bottom: 10px;
  }
  .popup .popup-body {
    padding: 20px 10px;
  }
  .popup .popup-body .cancel {
    right: 10px;
    top: 20px;
  }
  .popup .popup-body button {
    width: 100%;
    height: 50px;
  }
  .popup.popup-feedback .popup-body {
    width: 95%;
  }
  .popup.popup-feedback .popup-body .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .popup.popup-feedback .popup-body .content {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .popup.popup-feedback .popup-body button {
    width: 100%;
  }
  .popup.popup-payment_method .popup-body {
    width: 95%;
  }
  .popup.popup-payment_method .popup-body .title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
  }
  .popup.popup-payment_method .popup-body hr {
    margin-bottom: 20px;
  }
  .popup.popup-payment_method .popup-body .donate_money {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .popup.popup-payment_method .popup-body .donate_money p {
    font-size: 20px;
    font-weight: 700;
    position: relative;
  }
  .popup.popup-payment_method .popup-body .donate_money p:first-child {
    top: -6px;
  }
  .popup.popup-payment_method .popup-body .donate_money p span {
    font-size: 50px;
  }
  .popup.popup-payment_method .popup-body .payway_items {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .popup.popup-payment_method .popup-body .payway_items .item {
    width: 100%;
    margin-bottom: 10px;
  }
  .popup.popup-payment_method .popup-body .payway_items .item.active {
    border: 2px solid #6F7B20;
  }
  .popup.popup-payment_method .popup-body .payway_items .item.active::before {
    content: "";
    background-image: url(../Image/tick.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 33px;
    padding-top: 9.5%;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  .popup.popup-sponsor_success .popup-body {
    width: 95%;
  }
  .popup.popup-sponsor_success .popup-body .title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .popup.popup-sponsor_success .popup-body .content {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .popup.popup-sponsor_success .popup-body .donate_money {
    padding: 0;
    display: flex;
  }
  .popup.popup-sponsor_success .popup-body .donate_money p {
    font-size: 20px;
    font-weight: 700;
    position: relative;
  }
  .popup.popup-sponsor_success .popup-body .donate_money p:first-child {
    top: -6px;
  }
  .popup.popup-sponsor_success .popup-body .donate_money p span {
    font-size: 50px;
  }
  .popup.popup-sponsor_success .popup-body hr {
    margin-bottom: 50px;
  }
  .popup.popup-sponsor_success .popup-body button {
    width: 100%;
  }
  header {
    padding: 10px 20px;
  }
  header img {
    width: 40%;
  }
  header nav {
    display: none;
  }
  header .menu_open_btn {
    display: block;
    width: 45px;
    cursor: pointer;
  }
  .menu {
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    transition: all ease 0.3s;
    display: block;
  }
  .menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
  }
  .menu header {
    position: relative;
  }
  .menu .cancel {
    display: block;
    width: 45px;
    cursor: pointer;
  }
  .menu p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
  }
  .menu p:hover {
    cursor: pointer;
    color: #6F7B20;
  }
  .menu p.active {
    color: #6F7B20;
  }
  .home_page .banner {
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 0;
  }
  .home_page .banner .title {
    display: none;
  }
  .home_page .banner .man {
    z-index: 1;
    position: relative;
    left: 55%;
    transform: translateX(-50%) !important;
    width: 150%;
  }
  .home_page .banner .policy_box {
    top: inherit;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .home_page .banner .policy_box::before {
    display: none;
  }
  .home_page .banner .policy_box .policy {
    width: -moz-max-content;
    width: max-content;
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
  }
  .home_page .banner .policy_box button {
    width: 40px;
    height: 40px;
  }
  .home_page .banner .subtitle {
    position: relative;
    right: 0;
    bottom: 0;
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .home_page .advocate {
    background-image: url(../Image/wave/home/mob_middle_wave.svg);
    padding-bottom: 80%;
  }
  .home_page .advocate .wave {
    padding-bottom: 9.06%;
  }
  .home_page .advocate .above_wave {
    top: -10%;
    background-image: url(../Image/wave/home/mob_above_wave.svg);
  }
  .home_page .advocate .above_wave_shadow {
    top: -15%;
    background-image: url(../Image/wave/home/mob_above_wave_shadow.svg);
  }
  .home_page .advocate .under_wave {
    background-image: url(../Image/wave/home/mob_under_wave.svg);
    bottom: -10%;
  }
  .home_page .advocate .box {
    transform: translateY(-50%);
    padding: 0 10px;
  }
  .home_page .advocate .box img {
    display: none;
  }
  .home_page .advocate .box .content {
    margin-left: 0;
  }
  .home_page .advocate .box .content p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  .home_page .advocate .box .content p:first-child {
    font-size: 18px;
    font-weight: 700;
  }
  .home_page .events {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0px 10px;
    margin-bottom: 40px;
  }
  .home_page .events .more_event {
    width: -moz-fit-content;
    width: fit-content;
    height: 25px;
    right: 0%;
    padding: 15px 5px 15px 15px;
    top: -5.5%;
  }
  .home_page .events .more_event:hover {
    background-color: #9DA859;
  }
  .home_page .events .more_event p {
    font-size: 13px;
    margin-right: 10px;
  }
  .home_page .events .cat_jump_box {
    position: absolute;
    height: 100%;
    left: 45px;
  }
  .home_page .events .cat_jump_box p {
    height: 40px;
    width: 160px;
    color: #fff;
    font-size: 20px;
  }
  .home_page .events .cat_jump_box p::before {
    content: "";
    height: 15px;
    width: 100%;
    background-color: #0F2F33;
    border-radius: 50px 50px 0 0;
    position: absolute;
    top: -35%;
  }
  .home_page .events .cat_jump_box .pillar {
    position: relative;
    height: 100%;
    width: 35px;
    background-image: linear-gradient(180deg, #DAB071 0%, rgba(202, 178, 49, 0) 100%);
  }
  .home_page .events .cat_jump_box .pillar::before {
    content: "";
    background: url("../Image/cat_scratch.svg");
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .home_page .events .event_list {
    position: relative;
    margin-top: 30px;
    margin-left: 0;
    left: inherit;
    width: 100%;
  }
  .home_page .events .event_list .event {
    align-items: flex-start;
  }
  .home_page .events .event_list .event:first-child {
    margin-top: 0;
  }
  .home_page .events .event_list .event:nth-child(even) {
    margin-left: 0;
  }
  .home_page .events .event_list .event .line {
    display: none;
  }
  .home_page .events .event_list .event img {
    height: 80px;
    width: 80px;
    margin-right: 15px;
  }
  .home_page .events .event_list .event .content_box .date {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .home_page .events .event_list .event .content_box .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .home_page .events .event_list .event .content_box .content {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .home_page .policys > p {
    font-size: 25px;
  }
  .home_page .policys > p::before {
    width: 30%;
  }
  .home_page .policys > p::after {
    width: 30%;
  }
  .home_page .policys .policy_list {
    flex-direction: column;
  }
  .home_page .policys .policy_list .policy {
    width: 90%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
  }
  .home_page .policys .policy_list .policy > .title {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .home_page .policys .policy_list .policy > .title :last-child {
    font-size: 22px;
  }
  .home_page .policys .policy_list .policy .item .title {
    font-size: 15px;
  }
  .home_page .policys .policy_list .policy .item .content {
    font-size: 14px;
  }
  .home_page .donate {
    height: auto;
  }
  .home_page .donate > p {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .home_page .donate .feed {
    position: absolute;
    width: 125%;
    left: 50%;
    bottom: -70%;
    transform: translateX(-50%);
  }
  .home_page .donate .box {
    width: 100%;
    top: inherit;
    right: inherit;
    padding: 15px 25px;
    position: relative;
    margin-bottom: 100px;
  }
  .home_page .donate .box p:nth-child(1) {
    font-size: 15px;
  }
  .home_page .donate .box p:nth-child(2) {
    font-size: 45px;
    margin-bottom: 15px;
  }
  .home_page .donate .box div span {
    font-size: 17px;
  }
  .home_page .feedback {
    display: block;
    background-image: url("../Image/background_feedback.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0%;
    padding: 20px 20px 40px 20px;
  }
  .home_page .feedback .title {
    font-size: 25px;
  }
  .home_page .feedback .content {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .donate_page .section01 {
    padding: 0 7%;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }
  .donate_page .section01 > p {
    font-size: 25px;
    margin-top: 35px;
  }
  .donate_page .section01 img {
    top: inherit;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
  }
  .donate_page .section01 .box {
    position: relative;
    padding: 20px 30px;
    top: inherit;
    right: inherit;
    margin: 30px auto 170px auto;
  }
  .donate_page .section01 .box p:nth-child(1) {
    color: #FAF292;
    font-size: 15px;
  }
  .donate_page .section01 .box p:nth-child(2) {
    color: #fff;
    font-size: 45px;
  }
  .donate_page .section02 {
    position: relative;
    background-image: url(../Image/mob_background_donate.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 540%;
    width: 100%;
  }
  .donate_page .section02 .wave {
    position: absolute;
    background-position: top;
    background-size: cover;
    padding-bottom: 9.06%;
    background-repeat: no-repeat;
  }
  .donate_page .section02 .above_wave {
    top: -1%;
    background-image: url("../Image/wave/donate/mob_above_wave.svg");
  }
  .donate_page .section02 .box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .donate_page .section02 .box .donate_items {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .donate_page .section02 .box .donate_items .item {
    width: 90%;
    margin-right: 0px;
    margin-bottom: 45px;
  }
  .donate_page .section02 .box .donate_items .item:last-child {
    margin: 0;
  }
  .donate_page .section02 .box .donate_items .item.active {
    border: 7px solid #6F7B20;
  }
  .donate_page .section02 .box .donate_items .item img {
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
  }
  .donate_page .section02 .box .donate_items .item .item_name {
    font-size: 30px;
    font-weight: 700;
  }
  .donate_page .section02 .box .donate_items .item .item_money {
    font-size: 30px;
    font-weight: 700;
  }
  .donate_page .section02 .box .donate_items .item .item_money span {
    font-size: 60px;
  }
  .donate_page .section02 .box .donate_items .item .item_sponsor {
    font-size: 30px;
    font-weight: 400;
  }
  .donate_page .section02 .box .donate_items .item .item_sponsor span {
    color: #6F7B20;
  }
  .donate_page .section02 .box .form {
    margin-bottom: 50px;
  }
  .donate_page .section02 .box .form .form_input {
    width: 90%;
    margin-bottom: 20px;
  }
  .donate_page .section02 .box .form .form_input.active input {
    border: 7px solid #6F7B20;
  }
  .donate_page .section02 .box .form .form_input input {
    font-size: 18px;
  }
  .donate_page .section02 .box .form .btn {
    width: 90%;
    font-size: 17px;
  }
  .donate_page .section02 .box .precautions {
    padding: 0 10px;
  }
  .donate_page .section02 .box .precautions p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .donate_page .section02 .box .precautions ul {
    padding-left: 20px;
  }
  .donate_page .section02 .box .precautions ul li {
    font-size: 12px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 60px 40px 30px 40px;
  }
  footer > div:first-child {
    margin-bottom: 50px;
    flex-direction: column;
  }
  footer > div:first-child img {
    margin: 0 auto;
  }
  footer > div:first-child nav {
    margin: 0;
    margin: 60px 0 30px 0;
  }
  footer > div:first-child nav p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  footer > div:first-child .contact {
    padding-left: 16px;
  }
  footer > div:first-child .contact li {
    margin-bottom: 5px;
    font-size: 12px;
  }
  footer .copyright {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */