<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>喵立翰競選網站 - 台灣的明天喵先鋪路</title>
        <meta name="description" content="2024立委候選人-喵立翰，台灣的明天喵先鋪路。">

        <link rel="icon" href="./Content/Image/Favicon/favicon.ico" sizes="any"> <!-- 瀏覽器 icon -->
        <link rel="shortcut icon" href="./Content/Image/Favicon/favicon.ico" type="image/x-icon"> <!-- 網站在瀏覽器標簽欄和書簽中顯示的圖標 -->
        <meta property="og:image" content="./Content/Image/Favicon/512x512.png" /> <!-- 分享網頁時會顯示的縮圖 -->
        <meta name="mobile-web-app-capable" content="yes"> <!-- 是否使用全屏顯示 -->

        <!-- iOS Safari Set Up -->
        <link rel="apple-touch-icon" href="./Content/Image/Favicon/182x182.png"> <!-- 新增到桌面時的圖示 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black"> <!-- 新增到桌面時 開啟後 上方狀態欄顯示顏色  -->
        <meta name="apple-mobile-web-app-capable" content="yes"> <!-- 是否使用全屏顯示 -->

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="./Content/JS/aos/style.css" />
        <link rel="stylesheet" href="./Content/CSS/base.css" />
        <link rel="stylesheet" href="./Content/CSS/style.css" />

        <!-- JS -->
        <script src="./Content/JS/aos/aos.min.js"></script>
        <script src="./Content/JS/vue.cjs.min.js"></script>
        <script src="./Content/JS/axios.min.js"></script>
        <script src="./Content/JS/base.js"></script>
    </head>
    <body class="overflow_x_hide">
        <div class="vue--js">
            <header>
                <img @click="ChangePage('home', 'banner')" src="./Content/Image/logo.svg">
                <nav>
                    <p @click="ChangePage('home', 'advocate')">喵主張</p>
                    <p @click="ChangePage('home', 'events')">最新活動</p>
                    <p @click="ChangePage('home', 'policys')">政策議題</p>
                    <p @click="ChangePage('home', 'donate')">小額捐款</p>
                    <p @click="ChangePage('home', 'feedback')">民眾服務</p>
                </nav>
                <img class="menu_open_btn" @click="OpenMenu()" src="./Content/Image/menu.svg">
            </header>

            <div class="menu" :class="{'open': isMenuOpen}">
                <header>
                    <img @click="ChangePage('home', 'banner');CloseMenu()" src="./Content/Image/logo.svg">
                    <img class="cancel" @click="CloseMenu()" src="./Content/Image/cancel.svg">
                </header>

                <p @click="ChangePage('home', 'advocate');CloseMenu()">喵主張</p>
                <p @click="ChangePage('home', 'events');CloseMenu()">最新活動</p>
                <p @click="ChangePage('home', 'policys');CloseMenu()">政策議題</p>
                <p @click="ChangePage('home', 'donate');CloseMenu()">小額捐款</p>
                <p @click="ChangePage('home', 'feedback');CloseMenu()">民眾服務</p>
            </div>

            <section class="home_page home_page--js" :class="{'hide': page != 'home'}">
                <sectione class="banner banner--js">
                    <div class="title" data-aos="fade-right">
                        <img src="./Content/Image/banner/banner_title01.svg">
                        <img src="./Content/Image/banner/banner_title02.svg">
                    </div>
                    <img class="subtitle" data-aos="fade-left" src="./Content/Image/banner/banner_subtitle.svg">

                    <img class="man" data-aos="zoom-in" src="./Content/Image/man.svg">
                    <div class="policy_box" :class="{'active': currentBannerPolicy == '1'}">
                        <p class="policy active">打造休閒天堂！</br>推廣寵物休閒與娛樂場所</p>
                        <button @click="ChangePage('home', 'policys')">
                            <img src="./Content/Image/arrow.svg">
                        </button>
                    </div>
                    <div class="policy_box" :class="{'active': currentBannerPolicy == '2'}">
                        <p class="policy">讓愛更加專業！</br>推廣寵物飼養教育</p>
                        <button @click="ChangePage('home', 'policys')">
                            <img src="./Content/Image/arrow.svg">
                        </button>
                    </div>
                    <div class="policy_box" :class="{'active': currentBannerPolicy == '3'}">
                        <p class="policy">為毛孩子謀福利！</br>推動寵物醫療保障方案</p>
                        <button @click="ChangePage('home', 'policys')">
                            <img src="./Content/Image/arrow.svg">
                        </button>
                    </div>
                </sectione>

                <sectione class="advocate">
                    <div class="wave above_wave_shadow"></div>
                    <div class="wave above_wave advocate--js"></div>

                    <div class="box">
                        <img src="./Content/Image/advocate.svg">
                        <div class="content">
                            <p>2024 立委候選人 － 喵立翰</p>
                            <p>我堅信，藉由推動更完善的貓咪福利和相關政策，更是間接地投資於台灣的未來。畢竟，民眾的身心健康與工作熱情是推動經濟的核心動力。透過完善的貓咪福利政策，為台灣的 GDP 經濟帶來巨大效益。</p>
                            <p>因此，我期望能在立法院內推進這些政策，確保每一隻貓咪都能得到他們應有的照顧，同時也為台灣的經濟發展助一臂之力。讓我們一同護航台灣的幸福經濟，從照顧每一隻貓咪開始。</p>
                        </div>
                    </div>

                    <div class="wave under_wave"></div>
                </sectione>
                <div class="spaceH2"></div>
                <div class="spaceH1"></div>

                <sectione class="events events--js">
                    <button class="more_event">
                        <p>更多活動</p>
                        <img src="./Content/Image/arrow.svg">
                    </button>

                    <div class="cat_jump_box">
                        <p>最新活動</p>
                        <div class="pillar"></div>
                    </div>

                    <div class="event_list">
                        <div class="event" data-aos="flip-down">
                            <div class="line"></div>
                            <img src="./Content/Image/event/event01.jpeg">
                            <div class="content_box">
                                <p class="date">2023.12.26</p>
                                <p class="title">參與台北寵物論壇，爭取貓咪友善環境</p>
                                <p class="content">炎炎夏日的周六，我走進了台北寵物論壇，帶著一副貓耳髮箍，決定要全力宣傳「貓咪至上」的理念！我相信，我們的都市中，每一隻貓咪都應該有自己的 VIP 休憩空間。</p>
                            </div>
                        </div>

                        <div class="event" data-aos="flip-down">
                            <div class="line"></div>
                            <img src="./Content/Image/event/event02.jpeg">
                            <div class="content_box">
                                <p class="date">2023.12.24</p>
                                <p class="title">掃街模式開啟！帶著你的貓耳，來和我一起走！</p>
                                <p class="content">街上氣氛真的很棒，從小孩到大人，甚至有些狗狗朋友都帶著貓耳來找我握手，真的太可愛了！這次的活動不僅讓我看到大家的熱情，更加堅定了我推進「貓咪友善環境」政策的決心。</p>
                            </div>
                        </div>

                        <div class="event" data-aos="flip-down">
                            <div class="line"></div>
                            <img src="./Content/Image/event/event03.jpeg">
                            <div class="content_box">
                                <p class="date">2023.12.20</p>
                                <p class="title">收容所模特兒大比拼！</p>
                                <p class="content">今天的收容所不再是一片寂靜。為了讓更多人認識到這裡的毛孩子，我們舉辦了一場前所未有的「模特兒走秀」！ </p>
                            </div>
                        </div>
                    </div>

                </sectione>

                <sectione class="policys policys--js">
                    <p>政策議題</p>
                    <div class="spaceH2"></div>

                    <div class="policy_list">
                        <div class="policy" data-aos="zoom-in-down">
                            <div class="title">
                                <p>為毛孩子謀福利！</p>
                                <p>推動寵物醫療保障方案</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>設立寵物醫療基金</p>
                                </div>
                                <p class="content">每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>提供醫療補助</p>
                                </div>
                                <p class="content">每隻寵物每年可獲得高達新台幣 20,000 元的醫療補助，減輕飼主的經濟壓力。</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>合作動物醫院</p>
                                </div>
                                <p class="content">目前已有和超過 200 家動物醫院進行初步的合作討論。</p>
                            </div>
                        </div>

                        <div class="policy" data-aos="zoom-in-down">
                            <div class="title">
                                <p>打造休閒天堂！</p>
                                <p>推廣寵物休閒與娛樂場所</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>建立寵物公園</p>
                                </div>
                                <p class="content">每年撥款新台幣 5 億元，用於在各大都市建立專屬的寵物公園。根據初步規劃，預計在第一年內，將在全國範圍內建立至少 10 座寵物公園。</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>設立寵物醫療基金</p>
                                </div>
                                <p class="content">鼓勵商家提供寵物友善的環境，並為參與的商家提供稅收優惠。預計在政策實施後的首年，將有超過 500 家商家加入此計畫。</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>設立寵物醫療基金</p>
                                </div>
                                <p class="content">與各大寵物社團和組織合作，每年舉辦至少 5 場大型的寵物活動，包括寵物才藝比賽、飼養知識工作坊等。</p>
                            </div>
                        </div>

                        <div class="policy" data-aos="zoom-in-down">
                            <div class="title">
                                <p>讓愛更加專業！</p>
                                <p>推廣寵物飼養教育</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>建立寵物飼養教育中心</p>
                                </div>
                                <p class="content">每年撥款新台幣 3 億元，用於在全國各地建立專業的寵物飼養教育中心。預計在第一年內，在全國至少 5 大城市設立教育中心。</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>推廣寵物飼養課程</p>
                                </div>
                                <p class="content">與學校、社區組織和寵物社團合作，推出一系列免費的寵物飼養課程。預計每年將有超過 10,000 名市民受益。</p>
                            </div>

                            <div class="item">
                                <div class="title">
                                    <img src="./Content/Image/tick.svg">
                                    <p>製作教育資料</p>
                                </div>
                                <p class="content">出版寵物飼養手冊、影片和線上課程，讓所有有意飼養寵物的家庭都能輕鬆取得正確的知識。</p>
                            </div>
                        </div>
                    </div>
                </sectione>
                <div class="spaceH2"></div>
                <div class="spaceH2 donate--js"></div>

                <sectione class="donate">
                    <p>您的小筆捐款，是每隻毛孩未來的大大動力！</p>

                    <img class="feed" src="./Content/Image/feed.svg">
                    <div class="box" data-aos="zoom-in">
                        <p>目前小額捐款贊助總金額</p>
                        <p>{{ NumberFormat(totalDonateMoney) }}</p>
                        <div @click="ChangePage('donate', 'section02')">
                            <img src="./Content/Image/money.svg">
                            <span>前往捐款</span>
                        </div>
                    </div>
                </sectione>

                <sectione class="feedback feedback--js">
                    <div class="title" data-aos="fade-down">您的聲音，我們的行動！</div>
                    <div class="spaceH0_75"></div>

                    <div class="content" data-aos="fade-down">親愛的鄉親，每一位市民的意見都是我們社區前進的原動力。無論大小事，我都誠摯希望聽到您的建議。分享您的想法，一同為我們的未來打造更美好！</div>

                    <div class="form" data-aos="fade-down">
                        <label class="form_input">
                            <span>您的姓名</span>
                            <div>
                                <input type="text" v-model="feedBackForm.name" />
                            </div>
                            <p class="error" :class="{'active': feedBackFormErrorMsg.name}">{{ feedBackFormErrorMsg.name }}</p>
                        </label>
                        <div class="spaceH1"></div>

                        <label class="form_input">
                            <span>您的Email</span>
                            <div>
                                <input placeholder="Email及手機可擇一填寫" type="text" v-model="feedBackForm.email" />
                            </div>
                            <p class="error" :class="{'active': feedBackFormErrorMsg.email}">{{ feedBackFormErrorMsg.email }}</p>
                        </label>
                        <div class="spaceH1"></div>

                        <label class="form_input">
                            <span>您的手機</span>
                            <div>
                                <input placeholder="Email及手機可擇一填寫" type="text" v-model="feedBackForm.phone" />
                            </div>
                            <p class="error" :class="{'active': feedBackFormErrorMsg.phone}">{{ feedBackFormErrorMsg.phone }}</p>
                        </label>
                        <div class="spaceH1"></div>

                        <label class="form_input textarea">
                            <span>您的建言</span>
                            <textarea placeholder="請輸入1000字內文字..." rows="8" v-model="feedBackForm.content"></textarea>
                            <p class="error" :class="{'active': feedBackFormErrorMsg.content}">{{ feedBackFormErrorMsg.content }}</p>
                        </label>
                        <div class="spaceH2"></div>

                        <button class="btn" @click="SendFeedBack()">送出意見</button>
                    </div>
                </sectione>
            </section>

            <section class="donate_page donate_page--js" :class="{'hide': page != 'donate'}">
                <section class="section01 section01--js">
                    <p>您的小筆捐款，是每隻毛孩未來的大大動力！</p>
                    <img src="./Content/Image/feed.svg">
                    <div class="box">
                        <p>目前小額捐款贊助總金額</p>
                        <p>{{ NumberFormat(totalDonateMoney) }}</p>
                    </div>
                </section>

                <section class="section02">
                    <div class="wave above_wave_shadow section02--js"></div>
                    <div class="wave above_wave section02--js"></div>

                    <div class="box">
                        <div class="spaceH2"></div>

                        <div class="donate_items">
                            <div class="item" @click="ChangeDonateMoney('600')" :class="{'active': donateMoney == 600}">
                                <img src="./Content/Image/can/can01.svg">
                                <p class="item_name">喵星人之友</p>
                                <div class="spaceH1"></div>

                                <p class="item_money">NT$<span>600</span></p>
                                <div class="spaceH1"></div>

                                <p class="item_sponsor">已有 <span>{{ donatePeopleNum["600"] }}</span> 人贊助</p>
                            </div>

                            <div class="item" @click="ChangeDonateMoney('6000')" :class="{'active': donateMoney == 6000}">
                                <img src="./Content/Image/can/can02.svg">
                                <p class="item_name">喵星大使</p>
                                <div class="spaceH1"></div>

                                <p class="item_money">NT$<span>6,000</span></p>
                                <div class="spaceH1"></div>

                                <p class="item_sponsor">已有 <span>{{ donatePeopleNum["6000"] }}</span> 人贊助</p>
                            </div>

                            <div class="item" @click="ChangeDonateMoney('60000')" :class="{'active': donateMoney == 60000}">
                                <img src="./Content/Image/can/can03.svg">
                                <p class="item_name">喵星傳奇</p>
                                <div class="spaceH1"></div>

                                <p class="item_money">NT$<span>60,000</span></p>
                                <div class="spaceH1"></div>

                                <p class="item_sponsor">已有 <span>{{ donatePeopleNum["60000"] }}</span> 人贊助</p>
                            </div>
                        </div>

                        <div class="form">
                            <label class="form_input" :class="{'active': isCustomizeDonateMoney}">
                                <input v-if="isCustomizeDonateMoney" placeholder="自訂贊助金額" type="text" v-model="donateMoney"/>
                                <input v-else @click="ChangeDonateMoney('')" placeholder="自訂贊助金額" type="text"/>
                            
                                <p class="error" :class="{'active': donateMoneyError}">請輸入捐贈金額</p>
                            </label>

                            <button class="btn" @click="OpenPopup('paymentMethod');">
                                <img src="./Content/Image/money.svg">
                                立即捐款
                            </button>
                        </div>

                        <div class="precautions">
                            <p>捐贈者應注意事項</p>

                            <ul>
                                <li>捐款人必須為本國國民且具有選舉權。</li>
                                <li>請註明捐款人姓名、身分證字號、電話，以及收件人地址，以便寄發收據。</li>
                                <li>任何人不得以本人以外之名義捐贈。</li>
                                <li>匿名捐贈不得超過新台幣1萬元。</li>
                                <li>個人對同一擬參選人每年捐贈總額不得超過新台幣10萬元；對不同擬參選人每年捐贈總額合計不得超過新台幣30萬元。</li>
                                <li>營利事業對同一擬參選人每年捐贈總額不得超過新台幣100萬元；對不同擬參選人每年捐贈總額合計不得超過新台幣200萬元。</li>
                                <li>個人於申報所得稅時，捐款金額可作為列舉扣除額；每申報戶最高為綜合所得額20%，且上限為新台幣20萬元。</li>
                                <li>營利事業於申報所得稅時，捐款金額可作為當年度費用或損失，不適用所得稅法第三十六條規定；其可減除金額不得超過所得額10%，其總額並不得超過新台幣50萬元。</li>
                                <li>其他規定請參閱政治獻金法或監察院網站。</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>

            <div class="popup popup-feedback" :class="{'hide': !popup.feedback.isOpen}">
                <div class="popup-background"></div>

                <div class="popup-body">
                    <p class="title">提交成功！</p>
                    <p class="content">感謝您分享建言</br>喵團隊將不負所托，全力以赴！</p>

                    <button @click="ClosePopup('feedback')">關閉</button>
                </div>
            </div>

            <div class="popup popup-payment_method" :class="{'hide': !popup.paymentMethod.isOpen}">
                <div class="popup-background"></div>

                <div class="popup-body">
                    <img class="cancel" @click="ClosePopup('paymentMethod')" src="./Content/Image/cancel.svg">

                    <p class="title">選擇付款方式</p>
                    <div class="donate_money">
                        <p>贊助金額</p>
                        <p>NT$<span>{{ NumberFormat(donateMoney) }}</span></p>
                    </div>
                    <div class="spaceH0_5"></div>

                    <hr>
 
                    <div class="payway_items">
                        <div class="item" @click="payway = 'card'" :class="{'active': payway == 'card'}">
                            <p>信用卡支付</p>
                            <img src="./Content/Image/tick.svg">
                        </div>
                        <div class="item" @click="payway = 'supermarket'" :class="{'active': payway == 'supermarket'}">
                            <p>超商代碼</p>
                            <img src="./Content/Image/tick.svg">
                        </div>
                        <div class="item" @click="payway = 'atm'" :class="{'active': payway == 'atm'}">
                            <p>ATM虛擬轉帳</p>
                            <img src="./Content/Image/tick.svg">
                        </div>
                    </div>

                    <button @click="ClosePopup('paymentMethod');OpenPopup('sponsorSuccess')">下一步</button>
                </div>
            </div>

            <div class="popup popup-sponsor_success" :class="{'hide': !popup.sponsorSuccess.isOpen}">
                <div class="popup-background"></div>

                <div class="popup-body">
                    <p class="title">贊助完成！</p>
                    <p class="content">感謝您為喵星人的進步盡一份支持</br>喵團隊將不負所托，全力以赴！</p>
                    
                    <div class="donate_money">
                        <p>贊助金額</p>
                        <p>NT$<span>{{ NumberFormat(donateMoney) }}</span></p>
                    </div>
                    <div class="spaceH0_5"></div>

                    <hr>

                    <button @click="ClosePopup('sponsorSuccess')">關閉</button>
                </div>
            </div>

            <footer>
                <div>
                    <img @click="ChangePage('home', 'banner')" src="./Content/Image/footer_logo.svg">
                    <nav>
                        <p @click="ChangePage('home', 'advocate')">喵主張</p>
                        <p @click="ChangePage('home', 'events')">最新活動</p>
                        <p @click="ChangePage('home', 'policys')">政策議題</p>
                        <p @click="ChangePage('home', 'donate')">小額捐款</p>
                        <p @click="ChangePage('home', 'feedback')">民眾服務</p>
                    </nav>
                    <div class="contact">
                        <ul>
                            <li>辦公室地址：喵星區，毛茸茸大道88號，喵喵大樓3樓</li>
                            <li>電話：(02) 888-5678</li>
                            <li>電子郵件地址：meowoffice@linmeow.tw</li>
                        </ul>
                    </div>
                </div>

                <div class="copyright">© 2023 喵立翰 版權所有</div>
            </footer>
        </div>

        <script>
            const app = new Vue({
                el: ".vue--js",
                data: function(){
                    return{
                        page: "home",
                        currentBannerPolicy: '',
                        isMenuOpen: false,
                        //
                        donateMoneyError: false,
                        isCustomizeDonateMoney: false,
                        totalDonateMoney: 0,
                        donateMoney: 600,
                        payway: 'card',
                        donatePeopleNum: {
                            "600": 9957,
                            "6000": 2000,
                            "60000": 999,
                        },
                        //
                        popup:{
                            feedback: {
                                isOpen: false,
                            },
                            paymentMethod:{
                                isOpen: false,
                            },
                            sponsorSuccess:{
                                isOpen: false,
                            }
                        },
                        //
                        feedBackForm: {
                            name: '',
                            email: '',
                            phone: '',
                            content: '',
                        },
                        feedBackFormErrorMsg: { },
                    }
                },
                mounted() {
                    AOS.init({
                        mirror: true,
                    });

                    this.BannerPolicySwiper();
                    this.TotalDonateMoneyRun(true);
                },
                computed: { },
                watch: {
                    donateMoney: function () {
                        if(/^0/.test(this.donateMoney)){
                            this.donateMoney = '';
                        }else{
                            this.donateMoney = this.donateMoney.replace(/[^\d]/g, '');
                        }
                    },
                },
                methods: {
                    ChangePage: function(page, block) {
                        if(page != this.page){
                            window.scrollTo(0, 0);
                            this.page = page;

                            this.TotalDonateMoneyRun(true);
                        }

                        setTimeout(() => {
                            this.ChangeScroll(page, block);
                        }, 300)
                    },
                    ChangeScroll: function(page, block) {
                        let parentElement = document.getElementsByClassName(page + "_page--js")[0];
                        let element = parentElement.getElementsByClassName(block + "--js")[0];

                        let distanceFromTop = element.getBoundingClientRect().top - 80;
                        var currentScrollPosition = window.scrollY || element.scrollTop;
                        var scrollToPosition = currentScrollPosition + distanceFromTop;

                        window.scrollTo({
                            top: scrollToPosition,
                            left: 0,
                            behavior: 'smooth'
                        });
                    },
                    ChangeDonateMoney: function(money) {
                        this.isCustomizeDonateMoney = money === '';
                        this.donateMoney = money;
                    },
                    OpenPopup: function(popup_name) {
                        switch(popup_name){
                            case "paymentMethod":
                                if(this.donateMoney <= 0){
                                    this.donateMoneyError = true;
                                    return;
                                }else{
                                    this.donateMoneyError = false;
                                }
                                break;
                        }

                        document.documentElement.classList.add('overflow_y_hide');

                        this.popup[popup_name].isOpen = true;
                    },
                    ClosePopup: function(popup_name) {
                        let v_this = this;

                        document.documentElement.classList.remove('overflow_y_hide');

                        v_this.popup[popup_name].isOpen = false;

                        switch(popup_name){
                            case "sponsorSuccess":
                                v_this.ChangePage("donate", "section01");

                                setTimeout(() => {
                                    v_this.AddDonateMoney(v_this.donateMoney);
                                }, 500);

                                if(v_this.donateMoney in v_this.donatePeopleNum){
                                    v_this.donatePeopleNum[v_this.donateMoney]++;
                                }
                                break;
                        }
                    },
                    OpenMenu: function() {
                        this.isMenuOpen = true;
                        document.body.classList.add('overflow_y_hide');
                    },
                    CloseMenu: function() {
                        this.isMenuOpen = false;
                        document.body.classList.remove('overflow_y_hide');
                    },
                    //
                    BannerPolicySwiper: function() {
                        let v_this= this;

                        setTimeout(() => {
                            v_this.currentBannerPolicy = 1;
                        }, 1500);

                        setInterval(() => {
                            if(v_this.currentBannerPolicy == 3){
                                v_this.currentBannerPolicy = 1;
                            }else{
                                v_this.currentBannerPolicy++;
                            }
                        }, 5000)
                    },
                    TotalDonateMoneyRun: function (isInit, addMoney) {
                        let v_this= this;
                        let maxMoney = 0;

                        if(isInit){
                            maxMoney = 79655873;
                        }else{
                            maxMoney = parseInt(v_this.totalDonateMoney) + parseInt(addMoney);
                        }

                        let page = v_this.page;

                        let interval = setInterval(() => {
                            if(v_this.page != page){
                                clearInterval(interval);
                            }

                            if(v_this.totalDonateMoney >= maxMoney){
                                clearInterval(interval);
                            }else{
                                if(isInit){
                                    v_this.totalDonateMoney = v_this.totalDonateMoney + 345678;
                                }else{
                                    v_this.totalDonateMoney = v_this.totalDonateMoney + (parseInt(addMoney) / 100);
                                }
                            }
                        }, 10);
                    },
                    AddDonateMoney: function (addMoney) {
                        this.TotalDonateMoneyRun(false, addMoney);
                    },
                    //
                    CheckFeedBackForm: function() {
                        this.feedBackFormErrorMsg = {}

                        for (let inputKey in this.feedBackForm) {
                            let isVerify   = false;
                            let inputValue = this.feedBackForm[inputKey];

                            switch (inputKey) {
                                case "name":
                                    let namePattern = /^[\u4e00-\u9fa5]{2,4}(?:·[\u4e00-\u9fa5]{2,4})*$/;

                                    isVerify = inputValue != "" && inputValue.match(namePattern);

                                    if(!isVerify){
                                        this.feedBackFormErrorMsg["name"] = "無效姓名";
                                    }
                                    break;
                                case "email":
                                    let emailPattern = /^([-A-Za-z0-9_]+[-A-Za-z0-9_.]*)@([-A-Za-z0-9_]+[-A-Za-z0-9_.]*[.]{1}[A-Za-z]{2,5})$/;

                                    isVerify = this.feedBackForm["phone"] != '' || inputValue.match(emailPattern);

                                    if(!isVerify){
                                        this.feedBackFormErrorMsg["email"] = "無效信箱";
                                    }
                                    break;
                                case "phone":
                                    let phonePattern = /^0?9\d{8}$/;

                                    isVerify = this.feedBackForm["email"] != '' || inputValue.match(phonePattern);

                                    if(!isVerify){
                                        this.feedBackFormErrorMsg["phone"] = "無效手機";
                                    }
                                    break;
                                case "content":
                                    isVerify = inputValue.length <= 1000;

                                    if(!isVerify){
                                        this.feedBackFormErrorMsg["content"] = "請輸入1000字內文字";
                                    }
                                    break;
                            }
                        }

                        return Object.keys(this.feedBackFormErrorMsg).length === 0;
                    },
                    SendFeedBack: function() {
                        let v_this = this;

                        if(!v_this.CheckFeedBackForm()){
                            return;
                        }

                        v_this.OpenPopup('feedback');
                    },
                    //
                    NumberFormat: function(number) {
                        return extMath.numberFormat(number);
                    }
                }
            });
        </script>
    </body>
</html>